* {box-sizing: border-box;}

body {
    margin: 0;
}

.menu {
    overflow: hidden;
    background-color: #c8c8c8;
}

.menu a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #2196F3;
    color: white;
}

.menu .compteGestionnaire {
    float: right;
}

.container ul{
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

html{
    background-color: #EAEAEA;
}

main {
    margin: 50px;
}

.searchArea input {
    font-size: larger;
}

.listeboissons a{
    font-size: 150%;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    color: black;
}

.listeboissons a:hover{
    color: #3e4f3a;
    font-size: 155%;
}

.listeboissons a:focus{
    color: #3e4f3a;
    font-size: 155%;
}
